*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.box{
    width: 100px;
    background-color: darkcyan;
    padding: 50px;
    margin: 50px auto;
}

.box-2{
    width: 500px;
    background-color: darkgray;
    padding: 50px;
    margin: 50px auto;
    box-sizing: content-box;
}