i{
    color: darkcyan;
}
.fa-atom{
    font-size: 50px;
}
.fa-location-arrow{
    font-size: 60px;
}
.fa-sun{
    font-size: 50px;
}
h1{
    text-align: center;
    color: brown;
}
.fa-graduation-cap{
    color: black;
}